# QUESTION 1

In [1]:
a = 0

def b():
 global a
 a = c(a)
    
def c(a):
 return a + 2

b()
b()
b()
a

6

We call function c from within function b, where variable 'a' is specified as a global variable. During the call to function c, the value of 'a' increases by 2 with each function call.that is, it will become six after the third call.

# QUESTION 2

In [3]:
def fileLength(filename): 
    try:
        inputfile = open(filename)
        words = inputfile.read()
        inputfile.close()
        print(len(words))
    except:
        print("File "+filename+" not found!!")
fileLength("Filelength.txt") #invoking the method with the real input
fileLength("Filelenth.txt") #running the method to detect an error

123
File Filelenth.txt not found!!

# QUESTION 3

In [5]:
class Marsupial:                 #parent class started
    def __init__(self,x,y):       #defining constructor
        self.pouch=[]                   
             
    def put_in_pouch(self,items):   # appending items to the pouch
        self.pouch.append(items)
        
    def pouch_contents(self):           
        return self.pouch

class Kangaroo(Marsupial):         #creating sub-class 
    def __init__(self,x,y):              
        super().__init__(x,y)     #super constructor
        self.dx = 0                      
        self.dy = 0                        
    
    def jump(self,x,y):                 
        self.dx = self.dx + x    #providing a jump function to jump Kangaroo's coordinates based on input 
        self.dy = self.dy + y
    
    def __str__(self):         
        
        return ('I am a Kangaroo located at coordinates ( {},{})'.format(self.dx,self.dy))

k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
print(k.pouch)  
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates ( 0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates ( 3,0)

# QUESTION 4

In [6]:
def collatz (x):  #defining function
    if(x != 1): 
        print(x )
    if(x == 1):
        print(x)
        return x
    if(x%2 == 0):  #even number
        x = x // 2
        collatz(x)
    else:               #odd number
        x= 3*x + 1
        collatz(x)


collatz(1)  
print('\n')
collatz(10)

1


10
5
16
8
4
2
1

# QUESTION 5

In [7]:
binary_form =""
def binary (n):
    global binary_form  #specifying a global variable
    if(n==0): 
        print("0")
        
    elif(n==1):
        binary_form +="1" # adding 1 to the string's end
        binary_form = binary_form [::-1] # in this phase we reverse the string
        print(binary_form)
        binary_form=""  #updating the global variable's values
            
    else:
        x=""
        remainder = int(n%2)
        x =str(remainder)
        binary_form+=x  #adding the remaining amount to the binary format
        n =int(n/2)
        binary(n) #this is the recursive function

        
binary(0)
binary(1)
binary(3)
binary(9)

0
1
11
1001

# QUESTION 6

In [8]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    indent = -6 
        
    def handle_starttag(self, tag, attrs): # function to assign indentation according to heading tag
        if tag == 'h1':
            self.indent = 0
        elif tag == 'h2':
            self.indent = 1
        elif tag == 'h3':
            self.indent = 2
        elif tag == 'h4':
            self.indent = 3
        elif tag == 'h5':
            self.indent = 4            
        elif tag == 'h6':
            self.indent = 5
        else:
            self.indent = -6
               

    def handle_data(self, data):
        if data.strip() != "":
            printWithIndentation(data, self.indent) # this calls the function to print heading
        

def printWithIndentation(text, indent):
    if indent >= 0:
        print(f"{' ' * indent}{text}")      # this prints heading with indentation 

input_file = open('w3c.html') 
content = input_file.read() 
input_file.close() 

headingParser = HeadingParser()
headingParser.feed(content)

W3C Mission
 Principles

# QUESTION 7

In [9]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    if depth == 0:
        return
    print(' ' * indent + url)
    try:
        response = requests.get(url)
        content = response.content
        soup = BeautifulSoup(content, 'html.parser')
        links = soup.find_all('a')
        for link in links:
            href = link.get('href')
            if href and href.startswith('http'):
                webdir(href, depth - 1, indent + 1)
    except requests.exceptions.RequestException as e:
        print(f"Error accessing {url}: {e}")

#  we Test the function at this phase
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# QUESTION 8

In [10]:
import sqlite3

def setup_database():
    # Connect to SQLite database 
    conn = sqlite3.connect('weather.db')
    cursor = conn.cursor()

    # Create table
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Weather (
            City TEXT,
            Country TEXT,
            Season TEXT,
            Temperature REAL,
            Rainfall REAL
        )
    ''')

    # To avoid duplicates, if the table already exists, clear it.
    cursor.execute('DELETE FROM Weather')

    # Insert data
    data = [
        ('Mumbai', 'India', 'Winter', 24.8, 5.9),
        ('Mumbai', 'India', 'Spring', 28.4, 16.2),
        ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
        ('Mumbai', 'India', 'Fall', 27.6, 346.0),
        ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
        ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
        ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
        ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
        ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
        ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
        ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
        ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
    ]
    cursor.executemany('INSERT INTO Weather VALUES (?,?,?,?,?)', data)

    # Update the database.
    conn.commit()
    conn.close()

def run_queries():
    # Connect to the database
    conn = sqlite3.connect('weather.db')
    cursor = conn.cursor()

    # Query a) All the temperature data
    cursor.execute('SELECT Temperature FROM Weather')
    temperatures = cursor.fetchall()
    print("All the temperature data:", temperatures)

    # Query b) All the cities, but without repetition. from the question
    cursor.execute('SELECT DISTINCT City FROM Weather')
    cities = cursor.fetchall()
    print("All the cities, but without repetition:", cities)

    # Query c) All the records for India
    cursor.execute("SELECT * FROM Weather WHERE Country = 'India'")
    india_records = cursor.fetchall()
    print("All the records for India:", india_records)

    # Query d) All the Fall records
    cursor.execute("SELECT * FROM Weather WHERE Season = 'Fall'")
    fall_records = cursor.fetchall()
    print("All the Fall records:", fall_records)

    # Query e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
    cursor.execute("SELECT City, Country, Season FROM Weather WHERE Rainfall BETWEEN 200 AND 400")
    rainfall_records = cursor.fetchall()
    print("Average rainfall between 200 and 400 mm:", rainfall_records)

    # Query f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
    cursor.execute("SELECT City, Country FROM Weather WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC")
    fall_temp_records = cursor.fetchall()
    print("Fall temperature above 20 degrees:", fall_temp_records)

    # Query g) The total annual rainfall for Cairo
    cursor.execute("SELECT SUM(Rainfall) AS Total_Annual_Rainfall FROM Weather WHERE City = 'Cairo'")
    cairo_rainfall = cursor.fetchone()
    print("Total annual rainfall for Cairo:", cairo_rainfall)

    # Query h) The total rainfall for each season
    cursor.execute("SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM Weather GROUP BY Season")
    seasonal_rainfall = cursor.fetchall()
    print("Total rainfall for each season:", seasonal_rainfall)

    # at this stage we Close the connection
    conn.close()

# Execute the functions
setup_database()
run_queries()

All the temperature data: [(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]
All the cities, but without repetition: [('Mumbai',), ('London',), ('Cairo',)]
All the records for India: [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]
All the Fall records: [('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
Average rainfall between 200 and 400 mm: [('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]
Fall temperature above 20 degrees: [('Cairo', 'Egypt'), ('Mumbai', 'India')]
Total annual rainfall for Cairo: (27.6,)
Total rainfall for each season: [('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

# QUESTION 9

In [11]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']  
upper_list = []
lower_list = []
len_list = []
mix_list = []
four_char_list = []

for word in words:
    #in this phase, converting list into uppercase
    upper_list.append(word.upper())   
    #this phase; converting list into lowercase
    lower_list.append(word.lower())   
    #printing lenght of the words in list
    len_list.append(len(word))        
    #next phase is printing the mix list
    mix_list.append([word.upper(), word.lower(), len(word)])    
    
    #printing a list of words with four or more characters from a list.
    if len(word) >= 4:                  
        four_char_list.append(word)

#printing list
print(upper_list)
print('\n')
print(lower_list)
print('\n')
print(len_list)
print('\n')
print(mix_list)
print('\n')
print(four_char_list)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']


['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


[3, 5, 5, 3, 5, 4, 3, 4, 3]


[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]


['quick', 'brown', 'jumps', 'over', 'lazy']

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']


['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


[3, 5, 5, 3, 5, 4, 3, 4, 3]


[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]


['quick', 'brown', 'jumps', 'over', 'lazy']

['quick', 'brown', 'jumps', 'over', 'lazy']